<a href="https://colab.research.google.com/github/minibe0/python-practice/blob/master/python_%EA%B8%B0%EB%B3%B8%EB%AC%B8%EB%B2%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
#replace사용법
var = "hello world!"
print(var)
var = var.replace('!', '?')
print(var)

hello world!
hello world?

In [9]:
#replace 이용하여 특정 문자 없애기
var = "hello world?"
print(var)
var = var.replace('?', '')
print(var)

hello world?
hello world

In [11]:
#replace 이용하여 가격 처리하기1
var='19,000원'
var=var.replace(',', '')
print(var)
var=var.replace('원', '')
print(var)

19000원
19000

In [12]:
#replace 이용하여 가격 처리하기2
var='19,000원'
var=var.replace(',', '').replace('원', '')
print(var)

19000

In [16]:
#find이용하여 문자열 찾기1
# 찾는 문자열이 존재하지 않으면 -1이 뜬다
var = "hello world"
finded1= var.find('a')
finded2= var.find('world')
finded3= var.find('W')
# 대, 소문자 구분한다. 
print(finded1)
print(finded2)
print(finded3)

-1
6
-1

In [18]:
#인덱싱과 슬라이싱
#-값을 주면 마지막.최우측부터 좌측으로 읽는다. (-1은 마지막을 의미함)
var = "hello world"
print(var[:])
print(var[:2])
print(var[2:])
print(var[-1])
print(var[-2])
print(var[3: -2])

hello world
he
llo world
d
l
lo wor

In [5]:
#split 특정 문자열 기준으로 나누기
var = "hello world !@"
print(var.split())
print(var.split('l'))

['hello', 'world', '!@']
['he', '', 'o wor', 'd !@']

In [20]:
#문자열 대소문자 변환
var1="hello world"
var2='HELLO WORLD'
print(var1.upper())
print(var2.lower())

HELLO WORLD
hello world

In [22]:
#문자열 개수
var = "hello world"
print(len(var))

11

In [23]:
#공백제거
var = "     hello world     "
print(var.rstrip()) #우측 공백 제거
print(var.lstrip()) #좌측 공배 제거
print(var.strip()) #양쪽 공백 제거거

     hello world
hello world
hello world

In [25]:
#문자열 포맷팅
var0 = 'I am' + ' 손민희'
print(var0)
var1= 'I am {name}'.format(name='손민희')
print(var1)
var2='I am {0}'.format('손민희')
print(var2)
var3='I am{0} I am {name}'.format("손민희", name='KSBOX')
print(var3)

I am 손민희
I am 손민희
I am 손민희
I am손민희 I am KSBOX

In [26]:
#리스트 인덱싱, 슬라이싱
var=[1,2, "3", 4,5,6]
print(var[0])
print(var[1])
print(var[0:4])

1
2
[1, 2, '3', 4]

In [27]:
#split하여 리스트 형태로 변환하기
var='hello world'
print(var.split())

['hello', 'world']

In [29]:
#join을 이용하여 리스트를 문자열로 만들기
a=["1", "2", "3", "4"]
b='.'.join(a)
print(b)

1.2.3.4

In [30]:
#join()사용 시 리스트의 각각의 요소는 문자형이어야 한다.
a=["1", "2", "3", "4", 5]
b='.'.join(a)
print(b)

TypeError: ignored

In [31]:
#중첩된 리스트
a=[1,2,3,4, [5,6,7]]
print(a)
print(a[4])
print(a[4][0])
print(a[4][1])
print(a[4][2])
print(a[-1][0])
print(a[-1][1])
print(a[-1][2])

[1, 2, 3, 4, [5, 6, 7]]
[5, 6, 7]
5
6
7
5
6
7

In [32]:
#리스트 연산
#리스트*숫자형: 리스트 반복하기
#리스트+리스트: 리스트 합치기

#리스트 연산에서는 -, / 불가능

var1=[1,2,3,4,5]
var2=[6,7,8,9,10]
num=3
print(var1*3)
print(var1+var2)
print(var1*num)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [34]:
#인덱싱과 슬라이싱을 이용하여 리스트 수정하기
var=[1,2,3,4,5]
print(var)
var[2] = 10
print(var)
var[3] = [11,22,33]
print(var)

var1=[1,2,3,4,5]
var2=[1,2,3,4,5]
print(var1)
var1[2:4] = [0,-1]
print(var1)
var2[2:4] = [0,-1,-2]
print(var2)

[1, 2, 3, 4, 5]
[1, 2, 10, 4, 5]
[1, 2, 10, [11, 22, 33], 5]
[1, 2, 3, 4, 5]
[1, 2, 0, -1, 5]
[1, 2, 0, -1, -2, 5]

In [35]:
#리스트 요소 삭제 
# del 함수 또는 슬라이싱[] 는 삭제를 실행함
var1=[1,2,3,4,5]
var2=[1,2,3,4,5]
del var1[1]
var2[0:3] = []
print(var1)
print(var2)

[1, 3, 4, 5]
[4, 5]

In [36]:
#리스트 요소 추가하기: append()를 이용하여 마지막 요소 뒤에 추가할 수 있다
var=[1,2,3,4,5]
var.append(10)
print(var)
var.append(20)
print(var)

[1, 2, 3, 4, 5, 10]
[1, 2, 3, 4, 5, 10, 20]

In [39]:
#리스트 요소 제거하기: pop()을 이용하면 마지막 요소를 가져오면서(반환) 리스트에서 제거해 준다.
# 특정 값을 제거하고 싶다면 remove()를 이용한다.
var=[1,2,3,4,5]
print(var.pop())
print(var)

var=[1,2,3,4,5,1,2,3,4,5]
print(var.remove(4))
print(var)
#리스트에서 4 값을 제거한다. 이때 여러 개가 있을 경우 먼저 등장하는 4를 제거해 준다. 
#None값이 찍히는 이유는 pop()과 다르게 제거된 값을 반환 시켜주지 않기 때문이다.

5
[1, 2, 3, 4]
None
[1, 2, 3, 5, 1, 2, 3, 4, 5]

In [41]:
#리스트 정렬 *내림차순: sort(reverse=True)
var=[3,5,1,2,3,4,12,13]
var.sort()
print(var)
var.sort(reverse=True)
print(var)

var=['a', 'd', 'c', 'b']
var.sort()
print(var)
var.sort(reverse=True)
print(var)

[1, 2, 3, 3, 4, 5, 12, 13]
[13, 12, 5, 4, 3, 3, 2, 1]
['a', 'b', 'c', 'd']
['d', 'c', 'b', 'a']

In [42]:
#리스트 정렬: 대소문자
var=['A', 'd', 'C', 'b']
var.sort()
print(var)
var.sort(reverse=True)
print(var)

# 대소문자가 섞여 있다면, 대문자가 먼저 정렬된다. 이는 아스키코드로 읽고 정렬하기 때문이다.
# 아스키코드 A~Z: 65~90 / a~z: 97~122

['A', 'C', 'b', 'd']
['d', 'b', 'C', 'A']

In [43]:
a=[75,'a', 'A', 98, 100]
print(a.sort())
#문자열과 숫자형의 타입을 통일시켜주지 않으면 TypeError 발생

TypeError: ignored

In [45]:
# 리스트 길이
var=[1,2,3,4,5,6,7]
print(len(var))

7

In [46]:
#딕셔너리: 순서가 없음 (*리스트는 순서 존재)
#{key:value}
var1=dict({'key1': 'value1', 'key2':'value2'})
var2={'key1':'value1', 'key2':'value2'}
print(var1)
print(var2)
print(var1['key1'])
print(var2['key2'])

{'key1': 'value1', 'key2': 'value2'}
{'key1': 'value1', 'key2': 'value2'}
value1
value2

In [48]:
#get() 함수를 이용하면 없는 키를 접근할 때 에러가 발생하지 않는다.
# 키가 없으면 None값을 출력한다. 
# 키가 없으면 기본값을 설정 할 수 있다.

var={'key1':'value1'}
print(var.get('key1'))
print(var.get('key1', 'default value'))
print(var.get('key2'))
print(var.get('key2', 'default value'))

value1
value1
None
default value

In [50]:
# 딕셔너리에 키 값 추가하기
# 키의 중복을 허용하지 않는다.
# 이미 생성된 키에 수정이 이루어 진다.
var = {}
print(var)
var['key1']=10
print(var)
var['key1']=20
var['key2']=30
print(var)

{}
{'key1': 10}
{'key1': 20, 'key2': 30}

In [51]:
# sedefault() 함수를 이용하여 키가 존재할 때는 어떤 작업도 하지 않도록 설정한다.
var = {}
print(var)
var.setdefault('key1', 10)
print(var)

#key1: 10 은 이미 존재하므로 작업하지 않는다.
var.setdefault('key1', 20)

var.setdefault('key2', 30)
print(var)

{}
{'key1': 10}
{'key1': 10, 'key2': 30}

In [54]:
#keys()와 values()를 이용하여 리스트 모양으로 출력한다. (리스트처럼 인덱싱과 슬라이싱은 불가함-> 리스트로 만들어 주면 가능?)
var={'key1':'value1', 'key2':'value2', 'key3':'value3'}
print(var.keys())
print(var.values())

dict_keys(['key1', 'key2', 'key3'])
dict_values(['value1', 'value2', 'value3'])

In [55]:
var={'key1':'value1', 'key2':'value2', 'key3':'value3'}
print(var.items())

dict_items([('key1', 'value1'), ('key2', 'value2'), ('key3', 'value3')])

In [57]:
#딕셔너리 함수로 만든 리스트 인덱싱하기
var={'key1':'value1', 'key2':'value2', 'key3':'value3'}
values=list(var.values())

print(values)
print(values[0])

['value1', 'value2', 'value3']
value1

In [59]:
#키 존재 검사 [키 in 딕셔너리 변수]
var={'key1':'value1', 'key2':'value2', 'key3':'value3'}
print ('key1' in var)
print('hello' in var)

True
False

In [63]:
#튜플 생성
var1 = tuple((1,))
var2 = tuple((1,2,3))
var3 = (1,)
var4 = (1,2,3)
print(var1)
print(var2)
print(var3)
print(var4)

(1,)
(1, 2, 3)
(1,)
(1, 2, 3)

In [1]:
#while문을 이용한 반복문
count = 0
while count <5:
  print('%d 번째'%(count))
  count+=1

0 번째
1 번째
2 번째
3 번째
4 번째

In [4]:
#for문을 이용한 반복문
#range() 이용

for i in range(0,5):
  print('%d 번째'%(i))

0 번째
1 번째
2 번째
3 번째
4 번째

In [6]:
#문자열을 이용
for i in 'minibe0':
  print(i)

m
i
n
i
b
e
0

In [8]:
#리스트를 이용
for i in [11,22,33,44,55]:
  print(i)

11
22
33
44
55

In [13]:
#딕셔너리를 이용
var={'key1':'value1', 'key2':'value2', 'key3':'value3'}

for key in var:
  print(key)
  print(var[key])

#딕셔너리를 반복문에 활용할 경우 (딕셔너리는 순서가 존재하지 않기 때문에)실행시킬 때마다 키를 가져오는 순서가 달라진다.

key1
value1
key2
value2
key3
value3

In [18]:
#for문을 이용한 구구단 출력
for i in range(2,4):
  for j in range(2,4):
    print('%d * %d = %d'% (i,j, i*j))

2 * 2 = 4
2 * 3 = 6
3 * 2 = 6
3 * 3 = 9

In [21]:
#for문을 이용한 문자열 빈도수 측정

var = 'We are tired of living in an online world where people are isolated from each other on boring, generic social networks that dont let us truly express ourselves. Its time we took back our personalities from these sterilized, lifeless, monetized, data mined, monitored addiction machines and let our creativity flourish again. Thats where Neocities comes in. We provide a canvas for people to make any web site they want. Whether it be a web site about something theyre good at, something they love, something they hate, or their own completely customized profile where they can introduce themselves in a way that actually matters to them.'

space_ps = var.split(' ')

char_frequency = {}

for char in space_ps:
  char_frequency.setdefault(char, 0)
  char_frequency[char] +=1
print(char_frequency)

# 작동 원리: split()을 이용해서 띄어쓰기 space 단위로 나누어 단어 리스트를 만들어 준다.
# 만들어진 리스트를 이용하여 반복문을 돌려준 뒤 setdefault()를 이용하여 해당 단어가 char_frequency에 없다면 단어를 키로 0값을 만들어 주고,  +1 증가시켜 준다
# 단어의 키가 있다면 0으로 값이 바뀌지 않고 +1만 된다.

{'We': 2, 'are': 2, 'tired': 1, 'of': 1, 'living': 1, 'in': 2, 'an': 1, 'online': 1, 'world': 1, 'where': 3, 'people': 2, 'isolated': 1, 'from': 2, 'each': 1, 'other': 1, 'on': 1, 'boring,': 1, 'generic': 1, 'social': 1, 'networks': 1, 'that': 2, 'dont': 1, 'let': 2, 'us': 1, 'truly': 1, 'express': 1, 'ourselves.': 1, 'Its': 1, 'time': 1, 'we': 1, 'took': 1, 'back': 1, 'our': 2, 'personalities': 1, 'these': 1, 'sterilized,': 1, 'lifeless,': 1, 'monetized,': 1, 'data': 1, 'mined,': 1, 'monitored': 1, 'addiction': 1, 'machines': 1, 'and': 1, 'creativity': 1, 'flourish': 1, 'again.': 1, 'Thats': 1, 'Neocities': 1, 'comes': 1, 'in.': 1, 'provide': 1, 'a': 3, 'canvas': 1, 'for': 1, 'to': 2, 'make': 1, 'any': 1, 'web': 2, 'site': 2, 'they': 4, 'want.': 1, 'Whether': 1, 'it': 1, 'be': 1, 'about': 1, 'something': 3, 'theyre': 1, 'good': 1, 'at,': 1, 'love,': 1, 'hate,': 1, 'or': 1, 'their': 1, 'own': 1, 'completely': 1, 'customized': 1, 'profile': 1, 'can': 1, 'introduce': 1, 'themselves': 1, 'way': 1, 'actually': 1, 'matters': 1, 'them.': 1}